.listing {
  padding: 2rem 4rem;
  background-color: var(--color-secondary-bg);
  margin-bottom: 1.5rem;
  border-radius: 7px;
  box-shadow: 0 3px 6px hsla(180, 29%, 50%, 0.162);

  display: flex;
  justify-content: space-between;
}

.listing__has {
  border-left: 5px solid var(--color-primary);
}

.listing__header {
  display: flex;
  gap: 2rem;
}

.listing__details > span:not(:last-child) {
  margin-right: 2rem;
}

.listing__posted,
.listing__contract,
.listing__location {
  color: var(--color-light-grey);
  font-weight: 500;
}

.listing__new,
.listing__featured {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 4px 7px;
  border-radius: 13px;
}

.listing__companyName {
  font-weight: 700;
  color: var(--color-primary);
}

.listing__new {
  color: #fff;
  background-color: var(--color-primary);
}

.listing__featured {
  color: #fff;
  background-color: #000;
}

.listing__designation {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 0;
}

.listing__skills {
  display: flex;
  align-items: center;
  gap: 2rem;

  overflow: auto;
}

.listing__skills span {
  font-weight: 700;
  color: var(--color-primary);
  background-color: var(--color-primary-bg);
  padding: 1rem 1.5rem;
  border-radius: 3px;
}

@media (max-width: 620px) {
  .listing {
    padding: 1rem 2rem;
  }
}

@media (max-width: 565px) {
  html {
    font-size: 75%;
  }

  .listing {
    flex-direction: column;
    padding: 3rem 2rem;
    position: relative;
    margin-bottom: 6rem;
  }

  .listing__header {
    border-bottom: 2px solid var(--color-tertiary-bg);
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }

  .listing__image {
    position: absolute;
    top: -4.4rem;
  }

  .listing__skills {
    display: block;
  }

  .listing__skills span {
    display: inline-block;
    margin: 1rem;
  }

  .listing__designation {
    padding: 2rem 0;
  }

  .listing__companyName {
    font-size: 1.5rem;
  }
}
